# Node / build
node_modules/
dist/
.vite/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Firebase (emuladores & export)
.firebase/
firebase-debug.log
ui-debug.log
.firebaserc.local
firestore_export/
**/emulator-data/
**/local_emulator/

# Entornos
.env
.env.*
!.env.example

# TypeScript (opcional)
*.tsbuildinfo



firebase-export-*

node_modules/
dist/
.vite/
*.log
firebase-debug.log
firestore-debug.log
ui-debug.log
firebase-export/
.emudata/
.env
.env.*
!.env.example
